body {
    background: #000;
    margin: 0;
    color: #4abfff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.app {
    width: 800px;
    height: 480px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #4abfff;
}

div.time {
    text-align: center;
    font-size: 160px;
}
